* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(123, 179, 235);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    text-align: center;
}

p {
    text-align: center;

}